<header>
    <div class="container">
        <div id="branding">
            <a href="/"><img src="/assets/logo.svg" alt="CertusBuild Logo"></a>
        </div>
        <nav>
            <ul>
                <li class="<%= activeLink === 'home' ? 'current' : '' %>"><a href="/">Home</a></li>
                <li class="<%= activeLink === 'research' ? 'current' : '' %>"><a href="/research">Research Archive</a></li>
                <li class="<%= activeLink === 'pitch_materials' ? 'current' : '' %>"><a href="/pitch-materials">Pitch Materials</a></li>
                <li class="<%= activeLink === 'utilities' ? 'current' : '' %>"><a href="/utilities">Utilities</a></li>
                <li class="<%= activeLink === 'about' ? 'current' : '' %>"><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>